

<h1>Welcome to the TVWC Member's Blog, About Page</h1>
<p>This blog was created to improve the day to day communication between group members and to provide a place to upload images you wish other members to see, but those you may not want viewed by the public, such as those on the group website or group facebook page</p>
<h2> Instructions for using this Blog</h2>
<p> Click on the "Sign Up" button and enter your details. You will be sent a confirmation email to your designated email address. Check your email and click on the link provided. You can now login and view the posts.</p>


