<h1>Tweed Valley Wildlife Carers Members Blog</h1>
	<p>You have found the home page for the TVWC Member's Blog 
	</p>
	 <br/>
<%= link_to "TVWC Website", "http://tvwc.org.au" %>
	
	<br/>
		<p>
      <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>
